<td class="word">
    <span ng-show="editing"><input type="text" ng-trim ng-model="word.word" ng-blur="editing = false; disableEditing()" select-on-focus/></span>
    <span ng-hide="editing"><strong>{% verbatim %}{{ word.word|uppercase|substring:0:1 }}{{ word.word|lowercase|substring:1 }}{% endverbatim %}</strong></span>
    <span ng-hide="editing"><a href="javascript:;" ng-click="enableEditing()">{{ pix_icon('t/editstring', trans('edit'))|raw }}</a></span>
    <span ng-hide="editing || word.cardcount > 0"><a href="javascript:;" ng-click="deleteWord({wordid: word.id})">{{ pix_icon('t/delete', trans('delete'))|raw }}</a></span>
</td>
<td class="section">{% verbatim %}{{ word.sectionname }}{% endverbatim %}</td>
<td class="creator">{% verbatim %}{{ word.creatorfullname }}{% endverbatim %}</td>
<td class="created">{% verbatim %}{{ word.timecreated }}{% endverbatim %}</td>
<td class="cardcount"><span class="badge">{% verbatim %}{{ word.cardcount }}{% endverbatim %}</span></td>
