{# begin alerts #}
<alerts messages="messages"></alerts>
{# end alerts #}

<div>

    {# begin left column #}
    <div class="lcolumn">
        <div class="well well-small" ng-controller="wordsCtrl">
            <h3>{{ trans('syllabus', plugin) }}</h3>
            <p><strong>{{ trans('listexistingwords', plugin) }}&nbsp;{{ trans('in', plugin)|lower }}&nbsp;{{ trans('syllabus', plugin)|lower }}</strong></p>

            {# begin filters #}
            <form class="form-inline" role="form">
                <label for="id_section_filter">{{ trans('section', plugin) }}&#58;</label>
                <select id="id_section_filter" ng-model="filterSection" ng-change="filterSectionChanged()">
                    <option value="0" selected="selected">{{ trans('all') }}</option>
                    {% verbatim %}<option ng-repeat="section in sections" value="{{ section.id }}">{{ section.name }}</option>{% endverbatim %}
                </select>
                <label for="id_q_filter">{{ trans('search') }}&#58;</label>
                <input id="id_q_filter" type="text" ng-trim ng-model="filterQ" ng-keyup="filterQChanged()" placeholder="{{ trans('placeholder:searchbyword', plugin) }}"/>
            </form>
            {# end filters #}

            {# begin table #}
            <div class="table">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th class="column1">{{ trans('word', plugin) }}</th>
                            <th>{{ trans('section') }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="word in words"
                            word-list-item-short word="word"
                            toggle-selected-word="toggleSelectedWord(word)"
                            ng-class="{'success': getIndexOfWord(word) != -1, 'pointer': getIndexOfUnavailableWordId(word.id) == -1, 'info': getIndexOfUnavailableWordId(word.id) != -1}">
                        </tr>
                        <tr ng-show="totalWords == 0" class="warning"><td colspan="2" class="no-words">{{ trans('nowords', plugin) }}</td></tr>
                    </tbody>
                </table>
            </div>
            {# end table #}

            {# begin pagination #}
            {% verbatim %}
                <pagination per-page="{{ perPageWords }}"
                            current-page="currentPageWords"
                            total="totalWords"
                            fetch-page="getPageOfWords(currentPage)"
                            ng-show="totalWords > perPageWords">
                </pagination>
            {% endverbatim %}
            {# end pagination #}

        </div>
    </div>
    {# end left column #}

    {# begin middle column #}
    <div class="mcolumn">&nbsp;</div>
    {# end middle column #}

    {# begin right column #}
    <div class="rcolumn">

        {# begin students #}
        <div class="well well-small" ng-controller="studentsCtrl">
            <h3>{{ trans('tutorgroups', plugin) }}</h3>
            <p><strong>{{ trans('listenrolledstudents', plugin) }}</strong></p>

            {# begin filters #}
            <form class="form-inline" role="form">
                <label for="id_group_filter">{{ trans('group') }}&#58;</label>
                <select id="id_group_filter" ng-model="selections.filterGroup" ng-change="filterGroupChanged()">
                    <option value="0" selected="selected">{{ trans('none') }}</option>
                    {% verbatim %}<option ng-repeat="group in groups" value="{{ group.id }}">{{ group.name }}</option>{% endverbatim %}
                </select>
            </form>
            {# end filters #}

            {# begin table #}
            <div class="table">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th class="column1">{{ trans('student', plugin) }}</th>
                            <th>{{ trans('cards', plugin) }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="student in students"
                            student-list-item student="student"
                            set-selected-student="setSelectedStudent(student)"
                            delete-card="deleteCard(cardid)"
                            ng-class="{'pointer': true, 'success': selections.student.id == student.id}">
                        </tr>
                        <tr ng-show="totalStudents < 2" class="warning"><td colspan="2" class="no-students">{{ trans('nostudents', plugin) }}</td></tr>
                    </tbody>
                </table>
            </div>
            {# end table #}

            {# begin pagination #}
            {% verbatim %}
            <pagination per-page="{{ perPageStudents }}"
                        current-page="currentPageStudents"
                        total="totalStudents"
                        fetch-page="getPageOfStudents(currentPage)"
                        ng-show="totalStudents > perPageStudents">
            </pagination>
            {% endverbatim %}
            {# end pagination #}

        </div>
        {# end students #}

        {# begin confirmation #}
        <div class="well well-small" ng-controller="confirmationCtrl">
            <p>
                <span class="label" ng-show="selections.words.length == 0">{{ trans('selectoneormorewords', plugin) }}</span>
                <span class="label" ng-show="selections.filterGroup == 0">{{ trans('selectonegroup', plugin) }}</span>
                <span class="label" ng-show="selections.student == null">{{ trans('selectonestudent', plugin) }}</span>
            </p>
            <div>
                <button class="btn btn-success removable" type="button" ng-click="removeWord(word)" ng-repeat="word in selections.words">{% verbatim %}{{ word.word|uppercase|substring:0:1 }}{{ word.word|lowercase|substring:1 }}{% endverbatim %}&nbsp;<i class="icon-remove"></i></button>
                <button class="btn btn-success removable" type="button" ng-click="removeStudent()" ng-show="selections.student != null">{% verbatim %}{{ selections.student.studentfullname }}{% endverbatim %}&nbsp;<i class="icon-remove"></i></button>
            </div>
            <div class="confirm-assignments">
                <button class="btn btn-primary pull-right"
                        type="button"
                        ng-click="createCardsFromWords()"
                        ng-disabled="selections.words.length == 0 || selections.student == null">{{ trans('assign', plugin) }}</button>
            </div>
            <div class="clearfix"></div>
        </div>
        {# end confirmation #}

    </div>
    {# end right column #}

    <div class="clearfix"></div>
</div>
